extends ../views/single_layout

block content
  :marked
    ### Gradients = Big Deal

    Gradients are a big deal, as we design Transitions and Shadows.
    
    Did you know SVGs have a gradient object, allowing for inline gradients?
    
    ### What does this mean for web design?
    
    ### Game Plan
    
    How am I gonna apply this technology
    
    [Tutorial](http://tutorials.jenkov.com/svg/svg-gradients.html)
    
    ```bash
    $ program /foo/bar
    ```

    ### Outstanding Questions:
    Why not include SVG inline to simplify Object selection?
    For performance, is it smart to trigger an additional http-call to inject the <object data="svg">  ?
