extends ../views/single_layout
//- script(async='' src='//assets.codepen.io/assets/embed/ei.js')
block content
  h3 Portuguese Tiles
  
  :marked
    In this study, I compares
    
    The web is becoming an exciting place to create style rich websites. To be web developer with style, SVG graphics is a key tool to master.
    
  .icon
    object(data='/img/tiles/adriana1.svg', type='image/svg+xml')
        //fallback image
    p(style="float:right; margin:0;") view on 
        a(href="http://codepen.io/Schleichkorn/pen/NAwLgp") codepen

  br
  :marked
    ### Inspired by anchient design

    Many of these designs are inspired by real tiles. Bellow each svg tile I include a link to the original and credit the individual who provided the tile. Please send me more tiles! Personally I enjoy exploring the city, hunting for great design. Now friends have joined the hunt and we share much enjoyment from sharing our discoveries. Please send me pictures of tiles!
