extends ../views/single_layout
//- script(async='' src='//assets.codepen.io/assets/embed/ei.js')
block content
  h3 Portuguese Tiles
  
  :marked
    This design was submitted by Adriana. After joining the quest to discover tiles, shes mentioned her walk to work is more fun as she notices more tiles and details of the city around her. View the original image contribution here. 
    
  .icon
    object(data='/img/tiles/adriana1.svg', type='image/svg+xml')
        //fallback image
    p(style="float:right; margin:0;") view on 
        a(href="http://codepen.io/Schleichkorn/pen/NAwLgp") codepen
    //- p(style="float:right; margin-top:0;") design contributed by Adriana
        //- a(href="http://codepen.io/Schleichkorn/pen/NAwLgp") codepen

    //- img(src='/img/index/tile2.svg')
    //- img(src='/img/index/tile3.svg')
  br
  :marked
    Notes on SVG code = 1/4 of an individual tile was exported from illustrator using svg paths. Then the slice was reflected and mirrored to create a 2x2 section. This object was then repeated using svg's pattern function. 
  
    Notes on Vector Paths = My attention was directed towards using minimal vector points, while creating positive and negative space that allows the eye to calming move. I knew I'd tesselate the tile, so I needed each tile to maintain strong focal points. Cleaning the vector also includes converting line paths to fills and unify objects with pathfinder. Makesure to export with out responsive feature.
  
  :marked
    ### Inspired by anchient design

    Many of these designs are inspired by real tiles. Bellow each svg tile I include a link to the original and credit the individual who provided the tile. Please send me more tiles! Personally I enjoy exploring the city, hunting for great design. Now friends have joined the hunt and we share much enjoyment from sharing our discoveries. Please send me pictures of tiles!
