
extends ../views/single_layout

block content

  :marked
    ## React Basics
    =================
    Current State: I've coded many sites with my stack of Jade, Less, Node, MongoDB, Markdown, Roots, and Keystone. This is great for creating static websites quickly. 
    Motivation: To work with teams of developers, I need experience in the React.js ecosystem. 
    
    ### Curriculum Goals
    ---------
    * Record video explaining React's role to a novice.
    * Review React.Js's 'Getting Started Guide'
    * Interview Developers, how the've used React. Record video reviewing use cases.
    
    ### Curriculum Challenges
    ---------
    * 
    
    #### Sprint #1
    ----------
    Goal: Inject code with React into this Box
    
    <div id="sprint1"></div>
    
    
    
    
    
    
    
    
    
    
    
    
    
