extends ../views/single_layout

block content

    :marked
        ### SVG to Web Font

        Decrease file size by 300% by converting the svg into a web font.
        
        [Icomoon](https://icomoon.io/app/)
        [css tricks](https://css-tricks.com/svg-sprites-use-better-icon-fonts/)
    //- span.icon-adriana1_slice
    //- 	span.path1
    //- 	span.path2
    //- 	span.path3
    //- 	span.path4
    //- 	span.path5
    //- 	span.path6
    //- 	span.path7
    //- 	span.path8
    //- 	span.path9
