I found myself in a peculiar situation, where my company was not earning enough to pay me full time and the trade skills of graphic programming lacks a portfolio.
So I figured travel, live, work and develop my portfolio somewhere with a more affordable cost of living.
This is the story of a 27 year old, leaving Chicago, leaving a fin tech startup as a jr. dev, to travel across the alantic with a $600/month business owner salary and some freelance web design.
Batteling impersonation bias as a developer battling through the nomads land of somewhere between compentent and baffled. Living with digital nomads helped, through Hacker Paradise.
Bouncing around hostels, feeling a loop of hellos and goodbyes.
Breaking my masculane design/programmer comfort zone of befriending babes.
Babes pushing me out of compfort zone to climb the peak of Romania's second tallest mountain.
Practicing a pen pal routine to develop relationships beyond brief meetings.
Flow writing and revising to mold content worth sharing.
Sharing my glimpses of wisdom to answer questions.
To ask questions to dig conversations deeper than surface small talk.
To obsorb documentation.
To webify refrences with tools being trainined.
Cultivating a routine ideal to grow intelectually and physically, with work routines, endurance sports, community spaces, traveling with friends,
