extends ../../views/single_layout

block content
  h3 Mesh Warp SVG Surface
  
  :marked
    #### Inspiration refrences
    Cool vector drawing, suddenly the poportions of the abstract shapes morph. Beautiful.
    (video refrence 0:00 to 0:20)[https://www.youtube.com/watch?v=lX8QVBl-ZG0]
    
