extends ../../views/single_layout

block content
  h3 Tutorial Manager
  
    :marked
        Learning to code is difficult. Many dependency knowledges are required, which compounds in difficulty as we learn my doing.
        
        I created this tutorial maanger, because I the gaps in my knowledge sent me down many tangents. 
        These tangents are vital for my programming foundation, but also posed a threat when I would burn my focus energy out and get lost from my intial intent.
        
        This functions by: recognizing, am I challenging myself to create something, or am I learning best-practices.
        Clarity of intent is vital when focus-energy is limited. 
        
        For example: 
        I declare...
        desired outcome: .less files to automatically convert into css files.
        plan: gulp to watch my code for changes and convert from less to css.
        
        So I lookup gulp examples employing a less npm library.
        Perhaps this works, but I also want to chain a minifying method. I do not really understand how, So I que a 'challenge' of chaining a minifying method with the dependency of 'best-practice' lesson upon gulp, file navigation, and module management.
        I could search for more example code and frankenstein this together, but I've done this too many times with out really learnign.
        I could immediatly start reading documentation around each of my unknowns, but this invites tangents and my focus is drainned without clear checkmark focus.
        
        This is a simple example. Now consider learning React with a few gaps of JavaScript ES2016 syntax. Often when reading and reusing code, there are elements of mystery. Instead of glossing over and blindly jamming puzzle pieces together, I'd rather identify my knowledge gaps and define learning dependencies, to learn in a focused and compounding bottom up order.
        Now you could say, duh learn the basics before attempting a project, but I find it vital to my curiousity to learn from applied contexts. I need the desire to create something clear to know my I am learning this element. Plus knowing how a method is applied puts the knowledge in a context... which is vital for memory and application of knowledge.
        
        
