extends ../../views/single_layout

block content
  h3 Tutorial Manager
  
    :marked
        Learning to code is difficult. Many dependency knowledges are required, which compounds in difficulty as we learn my doing.
        
        I created this tutorial maanger, because I the gaps in my knowledge sent me down many tangents. 
        These tangents are vital for my programming foundation, but also posed a threat when I would burn my focus energy out and get lost from my intial intent.
        
        This functions by: recognizing, am I challenging myself to create something, or am I learning best-practices.
        Clarity of intent is vital when focus-energy is limited. 
        
        For example: 
        I declare...
        desired outcome: .less files to automatically convert into css files.
        plan: gulp to watch my code for changes and convert from less to css.
        
        So I lookup gulp examples employing a less npm library.
        Perhaps this works, but I also want to chain a minifying method. I do not really understand how, So I que a 'challenge' of chaining a minifying method with the dependency of 'best-practice' lesson upon gulp, file navigation, and module management.
        I could search for more example code and frankenstein this together, but I've done this too many times with out really learnign.
        I could immediatly start reading documentation around each of my unknowns, but this invites tangents and my focus is drainned without clear checkmark focus.
        
        This is a simple example. Now consider learning React with a few gaps of JavaScript ES2016 syntax. Often when reading and reusing code, there are elements of mystery. Instead of glossing over and blindly jamming puzzle pieces together, I'd rather identify my knowledge gaps and define learning dependencies, to learn in a focused and compounding bottom up order.
        Now you could say, duh learn the basics before attempting a project, but I find it vital to my curiousity to learn from applied contexts. I need the desire to create something clear to know my I am learning this element. Plus knowing how a method is applied puts the knowledge in a context... which is vital for memory and application of knowledge.
        
        The act of writing a question, is often enough to dispel confusion.
        
        This tutorial manager scans my code comments for @questions, @answer, @clarity, @dependency, @challenge, @best-practice
        Which is compiled into a documentation. Here I can focus upon the knowledge gaps with context. This strategy is great for pair-coding. 
        @Dependencies, @challenge, @best-practices are compiled into a master map. This contexualizes and orders my project priorities. Ensuring I master the basics and test my understanding back into the challenge that previously stopped me. 
        This map system has great value if multiple people contribute. We suddenly can learn from each other's succesess and failures to overcome common stopping points. We can share relevent tutorials and learning methods to particular gaps of knwoeldge. We can also recognize who is struggling with the same concept you are to prompt a conversation. Even better, validate your understanding of a knowledge gap by teaching another. Gain credit from helping another overcome this barrier to earn help from another upon your own block. 
        Suddenly a community of independent learners can colloborate. This is the Adult Montessori Enviroment. 
        
        
