extends single_layout

block content
  h3 Grading Criteria for Studys
  :marked
  
    I created coded this study ( ${this.studyName} ) [], now I reflect
    
    ### Reflective Prompt
        1. What was the ${keyDeliverable}?
        2. What did I learn? Do I remember this learning in a week?
        3. What technique did I practice? What is a keyElement to it's sucess? How to isolate for keyElement?
        4. Who is a potential Client? Will they pay for this? Does this enable a deliverable?
