extends single_layout

block content
  h3 Grading Criteria for each Study
  :marked
    #### Everyday, I reflect if what I did helped grow my brain according to my desired modals.
    
    Programing Goals
    Excersise Goals
    Rythem Goals
    Love Goals
    
    I created coded this study (book_cover_circles)[], now I reflect
        1. What did I learn?
        2. Do I remember this learning in a week?
        3. What technique did I practice to learn?
        4. Who is a potential Client? Will they pay for this? What needs to change to earn their money?
