extends layout

block content

  #header
    h1 Masterin' FE Dev
    h2 Diving deep for performance, style, and rapid development

    img.light-rays(src='/img/index/light-rays.svg')

    .clouds
      img.c1(src='/img/index/c2.svg')
      img.c2(src='/img/index/c1.svg')
      img.c3(src='/img/index/c2.svg')

    .trees
      .anchor.layer
      img.t1.layer(src='/img/index/t1.svg', data-depth='0.20')
      img.t2.layer(src='/img/index/t2.svg', data-depth='0.60')
      img.t3.layer(src='/img/index/t3.svg', data-depth='0.40')
      img.t4.layer(src='/img/index/t4.svg', data-depth='0.20')
      img.t5.layer(src='/img/index/t5.svg', data-depth='0.00')

  #intro
    .text
        :marked
            ### What are the tennents of my Curriculum
            #### This site maintains the artifacts around personally developed curriculum.
            * Re-writing, summarizing, asking questions, ansering the questions,
            * creating cast study prompts to dive deeper, focused on learning the basics well,
            * learning by teaching,
            * explaining my rational of which resources to use, reflecting upon my solutions,
            * create case study prompts from rolemodels, finding people with vary opinions and sharing an informed conversation
            * re-writing helps to start something more complicated. By starting with notes, inch by inch I regurgetate then revise my understanding, then cross-refrence it to an existing mental model, then challenge previous methods to achieve this, then integraphy it into a mental model, 
            * Pier Programing
            
            ### Why this approach to learning?
            
            Usually I learn a stack by breezing through the first 1/5 of the documentation, diving into an example, and hacking together my own project. This works for rapid development, but its coding with a hatchet.
            
            To develop my own style, I focus on replicating inspiring refrences into SVGs for web interfaces.
            
            ### Why focus so deep on FE?
            
            I love story telling. I am fascinated by human kinds progress through the ages to utalize technology in sharing information. From the Greek Theatres, to Lithograph newspapers... I love potential a story holds. I want to champion cutting edge story structures to communicate the most effective messages. The words only tell a part of the story. The essence of a story is provided through the story teller. It's the actor's pauses, the graphics pairings in newspapers, and a web interfaces negative space. Its the space inbetween the worlds that gets me excited. 
            
            FE is fascinating because performance matters. Many folks look at FE as a stepping stone to BE, but it truth, shit goes deep.
            
            This is an exciting time for FE as web users can load very large sites. Cross browser also posses and interesting problem requiring specialization. Upon the horizon is also AR, which will re-invent every website.

            ### Where is FE Mastery Valuable?
            
            Graphics designed for load performance accross any resolutions: Convert Vector to SVGs to Webfont.
            
            ### Other
            I am proud to be Front-End developer. I strive to be one of the best. SVG are a vital ingredient for load performance and style. 
            
            Coming from a design background, I understand the importance of having an unique style. Check out my tile project for case studies in persuit of style development.
            
            I repurpose succesful code examples, recreate sucessful designs in various fields as a svg, sell micro-services with svg, provide value to potential mentors with code to inject into their current website,

    .video
      .stage
        h2 Introduction to Roots
        iframe(src="https://youtube.com/embed/2_KwRoWA8Z4?hd=1&rel=0&autohide=1&showinfo=0", frameborder="0", allowfullscreen="true")

    .trees
      .anchor.layer
      img.t1.layer(src='/img/index/t6.svg', data-depth='0.60')
      img.t2.layer(src='/img/index/t7.svg', data-depth='0.40')
      img.t3.layer(src='/img/index/t8.svg', data-depth='0.20')
      img.t4.layer(src='/img/index/t9.svg', data-depth='0.00')

  #resources

    .more-videos
      h3 More great roots demos &amp; tutorials

      ul.others
        li.active(data-id='2_KwRoWA8Z4')
          img(src='/img/video_thumbs/s1.jpg')
          span What are SVG, Why should Care
        li(data-id='fQq6kWhOSxk')
          img(src='/img/video_thumbs/s2.jpg')
          span Inject Style Code
        li(data-id='OJYO0ZzmFxM')
          img(src='/img/video_thumbs/s3.jpg')
          span Tiles from Portugal
        li(data-id='cGzkohoTUHc')
          img(src='/img/video_thumbs/s4.jpg')
          span Load Animations
        li(data-id='rOIJ27MFlsY')
          img(src='/img/video_thumbs/s5.jpg')
          span Hover Animations

    object.example(type="image/svg+xml", data='/img/index/tiles2.svg')

    ul.links
      li
          a(href='/studies')
            .icon
                img(src='/img/index/docs-icon.svg')
            .text
                h3 Studies
                p As a creator I learn a lot from dissecting quality products. Repetition with slight variance is key to masteryaI hope you learn from these studies too. I've also attached a grading criteria with each case study!
      li
        a(href='/refrences')
          .icon
            img(src='/img/index/docs-icon.svg')
          .text
            h3 Refrences
            p These examples are why I am passionate about SVGs. Please send me more refrences! From these I create studies and services.
      li
        a(href='/react')
          .icon
            img(src='/img/logos/react.svg')
          .text
            h3 React Mental Model
            p I've trained an effient toolbelt. If I can help, I welcome income to maintain this deep dive.
            
    .trees
      .anchor.layer
      img.t1.layer(src='/img/index/t10.svg', data-depth='0.40')
      img.t2.layer(src='/img/index/t11.svg', data-depth='0.20')
      img.t3.layer(src='/img/index/t12.svg', data-depth='0.00')

  #footer
    a(href='https://carrot.is'): img.built-at-carrot(src='/img/index/built-at-carrot.svg')
