extends layout

block content

  #header
    h1 SVG Dojo
    h2 Persuit of SVG Mastery

    img.light-rays(src='/img/index/light-rays.svg')

    .clouds
      img.c1(src='/img/index/c2.svg')
      img.c2(src='/img/index/c1.svg')
      img.c3(src='/img/index/c2.svg')

    .trees
      .anchor.layer
      img.t1.layer(src='/img/index/t1.svg', data-depth='0.20')
      img.t2.layer(src='/img/index/t2.svg', data-depth='0.60')
      img.t3.layer(src='/img/index/t3.svg', data-depth='0.40')
      img.t4.layer(src='/img/index/t4.svg', data-depth='0.20')
      img.t5.layer(src='/img/index/t5.svg', data-depth='0.00')

  #intro
    .text
      :marked
        ### What is my Curriculum Outline?

        The web is becoming an exciting place to create style rich websites. To be web developer with style, SVG graphics is a key tool to master.
        
        To develop my own style, I focus on replicating inspiring refrences into SVGs for web interfaces.
        
        ### Why SVGs?

        _"So,"_ you might ask, _"Why would I use Roots instead of X, Y, or Z?"_ The short answer is because roots was built very specifically for static site builds, so it's cleaner and better than general purpose build tools, since it's specialized to that purpose. The longer answer is that it's a qualitative thing. Much like people would ask _"Why should I use snapchat when I can just text a photo"_ or _"Why should I use slack when I already have hipchat?"_, there is no logical answer other than that the experience is different, and in my opinion, much better -- tailored exactly to what you need. So just try it, and you just might find that you really like it.
        
        Most of the time, people ask why they would use Roots over Gulp or Grunt. Everything in the previous paragraph is the answer. Gulp and Grunt are general purpose javascript build tools you can wire together to handle anything, as long as you put in the work and maintain your config file(s). Roots is a framework designed specifically for building static sites. If you are building a static site, Roots will end up being a better experience because it's tailored to that exact purpose, so we make assumptions and take shortcuts in order to make your process smoother. Check out the videos below to see what we're talking about.

    .video
      .stage
        h2 Introduction to Roots
        iframe(src="https://youtube.com/embed/2_KwRoWA8Z4?hd=1&rel=0&autohide=1&showinfo=0", frameborder="0", allowfullscreen="true")

    .trees
      .anchor.layer
      img.t1.layer(src='/img/index/t6.svg', data-depth='0.60')
      img.t2.layer(src='/img/index/t7.svg', data-depth='0.40')
      img.t3.layer(src='/img/index/t8.svg', data-depth='0.20')
      img.t4.layer(src='/img/index/t9.svg', data-depth='0.00')

  #resources

    .more-videos
      h3 More great roots demos &amp; tutorials

      ul.others
        li.active(data-id='2_KwRoWA8Z4')
          img(src='/img/video_thumbs/s1.jpg')
          span Introduction to Roots
        li(data-id='fQq6kWhOSxk')
          img(src='/img/video_thumbs/s2.jpg')
          span Roots Configuration
        li(data-id='OJYO0ZzmFxM')
          img(src='/img/video_thumbs/s3.jpg')
          span Roots Extensions
        li(data-id='cGzkohoTUHc')
          img(src='/img/video_thumbs/s4.jpg')
          span Hybrid Static &amp; APIs
        li(data-id='rOIJ27MFlsY')
          img(src='/img/video_thumbs/s5.jpg')
          span Case Study: Mojotech
        li(data-id='gdWZ0Bpvmw4')
          img(src='/img/video_thumbs/s6.jpg')
          span Wordpress &amp; Roots
        li(data-id='RitO5dyPH44')
          img(src='/img/video_thumbs/s7.jpg')
          span Roots Templates

    object.example(type="image/svg+xml", data='/img/index/tiles2.svg')

    ul.links
      li
        a(href='/docs')
          .icon
            img(src='/img/index/docs-icon.svg')
          .text
            h3 Projects
            p Road map of projects on my way to be an SVG demi-god. Pair program with me! Together, let's learn by doing. Here are a few project curriculums.
      li
        a(href='/articles')
          .icon
            img(src='/img/index/tutorials-icon.svg')
          .text
            h3 Articles
            p Articles curated by akorn2 on a variety of different ways that you can use SVGs.
      li
        a(href='/extensions')
          .icon
            img(src='/img/index/extensions-icon.svg')
          .text
            h3 Refrences
            p A curated gallery of sexy svgs, which can inform applications of web style.

    .trees
      .anchor.layer
      img.t1.layer(src='/img/index/t10.svg', data-depth='0.40')
      img.t2.layer(src='/img/index/t11.svg', data-depth='0.20')
      img.t3.layer(src='/img/index/t12.svg', data-depth='0.00')

  #footer
    a(href='https://carrot.is'): img.built-at-carrot(src='/img/index/built-at-carrot.svg')
