extends ../views/single_layout

block content

    :marked
        # Pair Program With Me
        ### User:
        I am profient, but need to get effient. I need to apply these skills and build a portfolio.
        ### Problem:
        I start a project, but generally do not finish. bc of barriers
        ### Solution:
        Let's code together, similar to group projects in university settings. Let's create some projects together.
        Pair me with someone with complimentry gaps of knowledge. Lets learn from one another.
        Choose from crowd sources project curriculums complete with sylabus and refrence material. Get graded by piers.
        Match partners to code with from our algorithem or with your own friends.
        Validate your knowledge from teaching, grading, and creating. 
        ### Platform:
        Sylabuses
        Video Sharing and SDK shared control
        Grading library
        Marketing Web
        Audio Cast
