extends ../views/single_layout

block content

    :marked
        ### Code with Me!
        #### View Outstanding Projects
        Suggested Challenges:
        1. 'React-Starter' code examples to clarify open questions.
        2. Feedback on library stack to develop a 'design your own bike' website.
        3. Create refrence library. 

        # Tennents of my Curriculum
        ##### This site maintains the artifacts around personally developed curriculum.

        ### Project Types
        * (Define focus from Rolemodels)[] create case study prompts from rolemodels, finding people with vary opinions and sharing an informed conversation
        * (Refrence Libraries prompts)[] strengthen identified methods. Master the basics and layer techniques.
        * (Open Code Refrence Projects)[]... Break and Fix. Update Style. re-writing, summarizing, asking questions, ansering the questions). re-writing helps to start something more complicated. By starting with notes, inch by inch I regurgetate then revise my understanding, then cross-refrence it to an existing mental model, then challenge previous methods to achieve this, then integraphy it into a mental model, 
        * (Digitalize Style Refrences)[]
        * (Stylize Project Refrences)p[]

        ### Project Elements
        * (Present my Work)[] explaining the rational of my stack, successes, and failures.
        * (Pair Program)[] If stuck, overcome a challenge with a partner.
        * (Teach Others)[] focused around basics I need to strengthen.




        # Pair Program With Me
        ### User:
        I am profient, but need to get effient. I need to apply these skills and build a portfolio.
        ### Problem:
        I start a project, but generally do not finish. bc of barriers
        ### Solution:
        Let's code together, similar to group projects in university settings. Let's create some projects together.
        Pair me with someone with complimentry gaps of knowledge. Lets learn from one another.
        Choose from crowd sources project curriculums complete with sylabus and refrence material. Get graded by piers.
        Match partners to code with from our algorithem or with your own friends.
        Validate your knowledge from teaching, grading, and creating. 
        ### Platform:
        Sylabuses
        Video Sharing and SDK shared control
        Grading library
        Marketing Web
        Audio Cast
