extends single_layout

block content
  h3 Services
  :marked
    Below, you can find a list of articles curated by the roots core team about interesting uses for roots. If you'd like to submit one of your articles, send us a [pull request](https://github.com/carrot/roots-web/issues)!

  ul#list
    li: a(href='/mental_model/react/basics')
      h4 Basics React
      p Teach your team how to automate file optimization using Watch functions.
