extends single_layout

block content
  h3 Studies
  :marked
  
  #### Every evening, I assign tomorrows goals, moving towards larger goals
  
  Programing Goals
  Excersise Goals
  Rythem Goals
  Design Goals
  Love Goals
