extends single_layout

block content
  h3 Studies
  :marked
    Roots is a large and complex piece of software that you can do quite a bit with if you dive deep enough. We attempt here to explain every piece as a reference.

  ul#list
    li: a(href='/studies/portuguese_tiles')
      h4 Portuguese Tiles
      p Applying SVG techniques to re-create traditional Portuguese Tiles.
    li: a(href='/studies/svg_inject_code')
      h4 SVG injection code
      p CSS to injections into improve mentors websites
    li: a(href='/studies/vivus')
      h4 Vivus Animated Text
      p Blah blah
