extends single_layout

block content
    :marked
        # Projects

    ul#list
        li: a(href='/challenges/svg/bookcover_circles')
            :marked
                ## Berlin Clasic Style
                ### Desired Outcome:
                    Introduce my written story with contextual style.
                #### Criteria for sucess:
                    Increase viewers length of time to read and conversion action.
                #### Collaboration: Open Invite
                #### Next Step:
                    Load animation, transition element to next state, show text content of a story I wrote about Berlin
                
        li: a(href='/challenges/svg/poster_love-green')
            :marked
                ## Berlin Clasic Style
                #### Desired Outcome:
                Poster Landing
                #### Criteria for sucess:
                Introduce my written story with contextual style.
                #### Next Step:
                
    //- li: a(href='/challenges/svg/bookcover_circles')
    //-     :marked
    //-         ## Book Cover
    //-         #### Desired Outcome:
    //-         #### Criteria for sucess:
    //-         #### Collaborators:
    //-         #### Mentors:
    //-         #### Next Step:
