extends single_layout

block content
    :marked
        # Projects

    ul#list
        li: a(href='/challenges/svg/bookcover_circles')
            :marked
                ## Berlin Clasic Style
                #### Desired Outcome:
                Boom Style.
                #### Criteria for sucess:
                Video's impressions.
                #### Collaborators:
                #### Mentors:
                #### Next Step:
            
    //- li: a(href='/challenges/svg/bookcover_circles')
    //-     :marked
    //-         ## Book Cover
    //-         #### Desired Outcome:
    //-         #### Criteria for sucess:
    //-         #### Collaborators:
    //-         #### Mentors:
    //-         #### Next Step:
