extends single_layout

block content
  h3 Services
  
  :marked
    # Pending Small Challenges for Paired Programming!

  ul#list
    li: a(href='/challenges/svg/bookcover_circles')
        h4 Book Cover
        p Desired Outcome:
        p Criteria for sucess:
        p Collaborators:
        p Mentors:
        P Next Step:
        
  :marked
    # Open Questions

  ul#list
    li: a(href='/mental_model/react/basics')
      h4 Project Title
      p Desired Outcome:
      p Criteria for sucess:
      p Collaborators:
      p Mentors:
      P Next Step:
      
  :marked
    # Finished

  ul#list
    li: a(href='/mental_model/react/basics')
        h4 Project Title
        p Desired Outcome:
        p Criteria for sucess:
        p Collaborators:
        p Mentors:
        P Next Step:

  :marked
    # Projects in Progress

  ul#list
    li: a(href='/mental_model/react/basics')
      h4 Project Title
      p Desired Outcome:
      p Criteria for sucess:
      p Collaborators:
      p Mentors:
      P Next Step:
      
