extends single_layout

block content
  h3 Training Box
  :marked
    when I learn a new method, I'll save it in my trainingBox with image[metaphors]
    
    How to organize my notes? 
    Where do I put: 
    + screenshots of best-practices?
    + pdf explainations
    + questions for future examination
    + template libraries
    + who to ask
    + projects that are blocked because of this lack of skill
    
    ```
    methods:{
        serviceEnables: [],
        codeExample: {},
        language: [],
        explaination: '',
        implementation: {project}
        imageMetaphore: {},
        screenShotNotes: { image, description },
        masteryTrack: {dependencySkills, pierSkills, unlockingSkills, futureSkills},
        
        
    }
    ```
    
    ```
    services:{
        portfolio: [projects],
        clients: [clients],
        
    }
    ```
    
