extends ../views/single_layout

block content
  :marked
    ### Services

    * sell micro-services with svg, 
    * provide value to potential mentors with code to inject into their current website,
