extends ../../views/single_layout
//- script(async='' src='//assets.codepen.io/assets/embed/ei.js')
block content
  h3 Which Graphic to Use
  
  :marked
    1. png
    2. svg
    3. Compressed SVG
    4. 64 basic
    5. Web Font
    
    For each:
    
    img(src="", alt="")
    file size = x
    pro = 
    con =
    
    Overview - best format for:
    * logo
    * button
    * graphic
    * background
    * animated logo
    * animated button
    * animated graphic
    * animated background

    [Tool = SVGO global NPM Package](https://web-design-weekly.com/2014/10/22/optimizing-svg-web/)
    
  .icon
    object(data='/img/tiles/adriana1.svg', type='image/svg+xml')
        //fallback image
    p(style="float:right; margin:0;") view on 
        a(href="http://codepen.io/Schleichkorn/pen/NAwLgp") codepen

  br
  :marked
    ### Inspired by anchient design
    -------------------------------

    Many of these designs are inspired by real tiles. Bellow each svg tile I include a link to the original and credit the individual who provided the tile. Please send me more tiles! Personally I enjoy exploring the city, hunting for great design. Now friends have joined the hunt and we share much enjoyment from sharing our discoveries. Please send me pictures of tiles!

    ### Advanced SVG Notes

    SVG <use> symbol to create shapes causes rendering to take almost 50% slower. Refrence [Rohit Kalkur's](http://slides.com/rovolutionary/tuning-svg-performance-in-a-production-app#/14) study.

    Resist nesting <use> symbols too deply. I
    
    [Advanced Comparitive Analysis](http://www.svgopen.org/2007/papers/BrowserPerformanceMeasures/index.html#S3)




    ### SVG to Web Font
    -------------------

    Decrease file size by 300% by converting the svg into a web font.
    
    [Icomoon](https://icomoon.io/app/)
    [css tricks](https://css-tricks.com/svg-sprites-use-better-icon-fonts/)
