extends ../views/single_layout

block content
  h3 Sudo Collaboration
  :marked
    Hard element of coding is focus. 
    I'm completing all these courses, writing project ideas, but not publishing work.
    
    I've created this structure to 
    + pace my learning focuses, 
    + connect my progress with sudo code projects, and 
    + collaborate to progress my sudo code into live working structures.
