extends ../../views/single_layout

block content
    h3 Optimizing Vectors

    :marked
        Data passed from parent component to child can be accessed by the child as a 'property' variable. Express these variables with brackets ``` {} ```.

        ```
        var Comment = React.createClass({
        render: function() {
          return (
            <div className="comment">
              <h2 className="commentAuthor">
                {this.props.author}
              </h2>
              {this.props.children}
            </div>
          );
        }
        });
        ```
        
        Question what is an example pas passing components inside braces ```{}```? Is this the same as passing a component through ```< />```
        Situation "By surrounding a JavaScript expression in braces inside JSX (as either an attribute or child), you can drop text or React components into the tree. "
        Answer 
