extends ../../views/single_layout

block content
    :marked
        ### Load Animation
    .video
        .stage.card.multiply
            h2 Introduction to Mastering FE
            iframe(src="https://youtube.com/embed/2_KwRoWA8Z4?hd=1&rel=0&autohide=1&showinfo=0", frameborder="0", allowfullscreen="true")
            :marked
                (test)[http://jsfiddle.net/2vLjU/1/]
