extends ../views/single_layout

block content

  :marked
    ### SVG Intro
    SVGs are DOM friendly objects contains graphic elements. We use 
    
    ### SVG Studies
    (Portugal Tiles)[]
    
    ## SVG Refrences
    
    ### SVG Atributes
    
    //- [x](https://github.com/maxwellito/vivus)
    ```
    <defs> 
        <g/>
        <symbol/>
    </defs>
    ```
    Defs defines a group or symbol that may be reused.
    Content inside defs will not appear upon the page. We must inject this defined code into another element's fill atrribute: ```fill(url(#stamp))```.
    
    Question:
    What is an example where we use use a ```<symbol/>``` over a ```<g/>```?
    
    
    

  //- object#my-svg(type='image/svg+xml' data='/img/examples/text_welcome.svg')
