extends ../views/single_layout

block content

  :marked
    # Font's Jump on Load
    
    ####Problem:
    I hate when websites load and get all jumpy.
    
    Solutions
    * Text on initial load are paths.
    * Load animation
    * Load background first and only text once rendered

  object#my-svg(type='image/svg+xml' data='/img/examples/text_welcome.svg')
