extends ../../views/single_layout
//- script(async='' src='//assets.codepen.io/assets/embed/ei.js')
block content
  h3 Galaxy Loop and poem
  
    :marked
        https://media.giphy.com/media/26BRK1oCxGCAN4u6A/giphy.gif
        We live on a blue planet that circles around a ball of fire next to a moon that moves the sea, and you don’t believe in miracles?
        —Marteria
