extends ../../views/single_layout

block content

  :marked
    ### Speed Testing
    
    [x](https://github.com/maxwellito/vivus)

  object#my-svg(type='image/svg+xml' data='/img/examples/text_welcome.svg')
