extends ../views/single_layout

block content
  h3 Upgrading From Roots v2
  
  :marked
    Version 3 of roots is a massively breaking upgrade, so if you are expecting to be able to upgrade from a project built on v2, you might run into some issues. Make sure to keep your project locked at version 2 until you have the time to make a bunch of changes required for the upgrade, which will be reviewed below.

    ### New app.coffee structure

    The structure of the `app.coffee` file in v3 is entirely different, so if you're looking to convert yours, you probably will have to rewrite most/all of it. Make sure to check out the [full documentation for the new app.coffee format](/docs/configuration) for help converting it over.

    Specifically of note, you will need to add the dynamic context extension in manually if you were using dynamic content (more info below), and add in axis etc to your stylus pipeline. You can check out an example of the [new default app.coffee file here](https://github.com/roots-dev/base/blob/master/root/app.coffee).
    
  .icon
    img(src='/img/index/tile1.svg')
    img(src='/img/index/tile2.svg')
    img(src='/img/index/tile3.svg')
