extends ../../views/single_layout

block content
  h3 Basics
  :marked
    Makes life easier and quick. Use the translation to check your code. When working with refrenced code, convert fatter chunks.
